@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

@media (pointer: coarse) {
	h1
	{
		width: 80%;
	}

	p
	{
		width: 80%;
	}
}

@media (pointer: fine) {
	h1
	{
		width: 50%;
	}

	p
	{
		width: 50%;
	}
}

body
{
	background: #faf4ed;
}

h1
{
	border: 5px dashed #575279;
	padding: 4px;
	margin: 2% auto 0;
	font-family: 'IBM Plex Mono';
	font-style: italic;
	color: #575279;
	font-size: 40px;
}

a
{
	text-decoration: none;
	border-bottom: 2px dashed #286983;
	color: #286983;
	font-family: 'IBM Plex Mono';
}

p
{
	margin: 2% auto;
	font-family: 'IBM Plex Sans';
	font-size: 20px;
	color: #575279;


}


